@model Teacher

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add a Teacher</h2>
        </div>
        <div class="mb-3">
            <label asp-for="firstName"></label>
            <input asp-for="firstName" class="form-control"/>
            <span asp-validation-for="firstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="lastName"></label>
            <input asp-for="lastName" class="form-control"/>
            <span asp-validation-for="lastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="email"></label>
            <input asp-for="email" class="form-control"/>
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="course"></label>
            <input asp-for="course" class="form-control"/>
            <span asp-validation-for="course" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Done</button>
        <a asp-controller="teacher" asp-action="index" class="btn btn-secondary">back</a>

    </div>

</form>

@section Scripts{
    @{
      <partial name="_ValidationScriptsPartial" />  
    }
}
