@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our School Portal</h1>
    <p>Visit Our website for better user services. Best for the students, teachers and parents</p>
    <br />
    <div>
        <button class="btn btn-primary">
            <i class="bi bi-mortarboard-fill"></i>
                <a asp-controller="FirstPage" asp-action="Index" style="color:white; text-decoration:none;">Click for more!</a>
            </button>
    </div>
    <br />
    <div>
        <img src="~/css/school-Image Front page.jpg" alt="School" width="600px" height="400px"/>
    </div>
</div>
